@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --White: #fff;
  --Black: #151515;
  --Grey: #d9d9d9;
  --Green: #4ee1a0;
  --Dark-Grey: #242424;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: var(--White, #fff);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  background: var(--Black, #151515);
}

.container {
  margin: 0 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.fa-brands {
  color: var(--White, #fff);
  width: 1.25rem;
  height: 1.25rem;
}

nav {
  flex-direction: column;
  text-align: center;
  margin: 0 0.625rem;
}

.logo {
  color: var(--White, #fff);
  line-height: 2rem;
  letter-spacing: -0.02081rem;
  margin: 1.25rem 0;
}

.hero {
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0.65%, #242424 100%);
  width: min(46.4%, 174.207px);
  margin: 0 auto;
  flex-direction: column;
  gap: 3.06rem;
}

.hero--img {
  width: min(100%, 174.207px);
  background: url(./assets/jpg/steff-metieh.png) 0px 0px / 100% 100% no-repeat;
  width: min(174.207px, 100%);
  height: 242px;
  position: relative;
  z-index: 1000;
}

.oval--rings {
  position: absolute;
  top: 7.75rem;
  z-index: -500;
}

.semi-circle {
  position: absolute;
  top: 15.87rem;
  right: 0;
  z-index: -50;
}

.hero__msg {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.hero__msg h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.071rem;
}

.hero__msg p {
  color: var(--Grey, #d9d9d9);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}

.underline__text {
  border-bottom: 0.25rem solid var(--Green, #4ee1a0);
}

.btn {
  color: var(--White, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.14288rem;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0.25rem solid var(--Green, #4ee1a0);
  cursor: pointer;
  padding-bottom: 0.63rem;
}

.hero__msg a:hover,
.hero__msg a:focus,
.fa-brands:hover,
.fa-brands:focus {
  transform: translateY(-20%);
  color: var(--Green);
}

.skills {
  border-top: 0.0625rem solid var(--White);
  border-bottom: 0.0625rem solid var(--White);
  padding: 2.5rem 0;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.skills span {
  color: var(--White, #fff);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.0625rem;
}

.skills p {
  color: var(--Grey, #d9d9d9);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
}

.second-oval--rings {
  position: absolute;
  top: 86.5rem;
  right: 0;
}

.projects {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.projects h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.071rem;
}

.projects .col {
  width: 100%;
}

.project__img {
  background: lightgray 0px 0px / 100% 100% no-repeat;
  margin-bottom: 1.25rem;
}

.project__img img {
  width: 100%;
}

.project__title {
  margin-bottom: 0.44rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.project__skill {
  justify-content: flex-start;
  gap: 1.13rem;
  margin-bottom: 1.25rem;
}

.project__skill p {
  color: var(--Grey, #d9d9d9);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.project__links {
  justify-content: flex-start;
  gap: 2rem;
}

footer {
  background: var(--Dark-Grey, #242424);
  padding: 3.75rem 0 6.15rem 0;
}

h4 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.071rem;
  margin-bottom: 1.25rem;
}

.contact p {
  color: var(--Grey, #d9d9d9);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  margin-bottom: 3.13rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  border: none;
  border-bottom: 0.0625rem solid var(--White);
  background-color: transparent;
  padding: 0 0 1.06rem 1.5rem;
  width: 100%;
}

#message {
  padding: 0 0 5.06rem 1.5rem;
}

::placeholder {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: -0.01388rem;
}

.third-oval--rings {
}
