@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --White: #fff;
  --Black: #151515;
  --Grey: #d9d9d9;
  --Green: #4ee1a0;
  --Dark-Grey: #242424;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: var(--White, #fff);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  background: var(--Black, #151515);
}

.container {
  margin: 0 1rem;
}

.box {
  margin: 0 auto;
  max-width: 1110px;
  overflow-x: hidden;
}

.row {
  display: flex;
  justify-content: space-between;
}

.fa-brands {
  color: var(--White, #fff);
  width: 1.25rem;
  height: 1.25rem;
}

nav {
  flex-direction: column;
  text-align: center;
  margin: 0 0.625rem;
}

.logo {
  color: var(--White, #fff);
  line-height: 2rem;
  letter-spacing: -0.02081rem;
  margin: 1.25rem 0;
}

.hero {
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero--img {
  width: min(100%, 174.207px);
  background: url(./assets/jpg/steff-metieh.png) 0px 0px / 100% 100% no-repeat,
    linear-gradient(180deg, rgba(36, 36, 36, 0) 0.65%, #242424 100%);
  width: min(174.207px, 100%);
  height: 242px;
}

nav {
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 100%, #242424 0.65%);
  width: min(174.207px, 100%);
}

.oval--rings {
  position: absolute;
  top: 7.75rem;
  z-index: -500;
}

.semi-circle {
  position: absolute;
  top: 14.4rem;
  right: -5rem;
  z-index: 500;
}

.hero__msg {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.hero__msg h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.071rem;
}

.hero__msg p {
  color: var(--Grey, #d9d9d9);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}

.underline__text {
  border-bottom: 0.25rem solid var(--Green, #4ee1a0);
}

.btn,
a {
  color: var(--White, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.14288rem;
  text-transform: uppercase;
  text-decoration: underline var(--Green);
  text-underline-offset: 0.94rem;
  text-decoration-thickness: 0.25rem;
  cursor: pointer;
  padding-bottom: 0.63rem;
  align-self: center;
}

.hero__msg a:hover,
.hero__msg a:focus,
.fa-brands:hover,
.fa-brands:focus,
a:hover,
a:focus,
#btn-submit:hover,
#btn-submit:focus {
  transform: translateY(-20%);
  color: var(--Green);
}

.skills {
  border-top: 0.0625rem solid var(--White);
  border-bottom: 0.0625rem solid var(--White);
  padding: 2.5rem 0;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.skills span {
  color: var(--White, #fff);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.0625rem;
}

.skills p {
  color: var(--Grey, #d9d9d9);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
}

.second-oval--rings {
  position: absolute;
  top: 86.5rem;
  right: 0;
}

.project__section {
  margin-top: 5rem;
}

.projects {
  padding: 2.75rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

section h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.071rem;
}

.projects .col {
  width: 100%;
}

.project__img {
  background: lightgray 0px 0px / 100% 100% no-repeat;
  margin-bottom: 1.25rem;
  width: 100%;
  height: 67vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__title {
  margin-bottom: 0.44rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.project__skill {
  justify-content: flex-start;
  gap: 1.13rem;
  margin-bottom: 1.25rem;
}

.project__skill p {
  color: var(--Grey, #d9d9d9);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.project__links {
  justify-content: flex-start;
  gap: 2rem;
}

.project__links--hover {
  display: none;
}

footer {
  background: var(--Dark-Grey, #242424);
  padding: 3.75rem 0 6.15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container {
  max-width: 1110px;
}

h4 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.071rem;
  margin-bottom: 1.25rem;
}

.contact p {
  color: var(--Grey, #d9d9d9);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  margin-bottom: 3.13rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6.19rem;
  align-items: flex-end;
}

input {
  border: none;
  border-bottom: 0.0625rem solid var(--White);
  background-color: transparent;
  padding: 1rem 0 1.06rem 1.5rem;
  width: 100%;
  color: var(--White);
}
input:focus,
input:hover {
  border-bottom: 0.0625rem solid var(--Green);
}

textarea:focus,
input:focus {
  outline: none;
}

.error {
  color: #ff6f5b;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.01044rem;
}

#message {
  padding: 1rem 0 5.06rem 1.5rem;
}

::placeholder {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: -0.01388rem;
}

.third-oval--rings {
  position: absolute;
  top: 310rem;
}

.footer--links {
  width: min(46.4%, 174.207px);
  margin: 2.44rem auto -1.75rem auto;
}

.bottom-footer {
  width: 100%;
}

#bottomlogo {
  text-decoration: none;
  text-transform: lowercase;
  line-height: 2rem;
  letter-spacing: -0.02081rem;
  margin: 1.25rem 0;
  font-size: 1.5rem;
}

#bottomlogo:hover,
#bottomlogo:focus {
  color: var(--White, #fff);
}

.footer-section {
  border-top: 0.0625rem solid var(--White);
  width: 100%;
  margin: 0 auto;
  max-width: 1110px;
}

.footer--links .row .logo {
  margin-top: 0;
}

.contact .btn {
  width: auto;
  border-bottom: none;
}

@media screen and (min-width: 601px) {
  .semi-circle {
    top: 26rem;
    right: -4rem;
  }

  .third-oval--rings {
    position: absolute;
    top: 200rem;
  }

  .hero,
  .footer--links,
  nav {
    width: 100%;
  }

  nav {
    flex-direction: row;
  }

  .social--links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1.82rem;
  }

  .hero--img {
    float: right;
    width: 40%;
    height: 30.375rem;
    background: url(./assets/jpg/steff-metieh.png) 0px 0px / 100% 100% no-repeat,
      #242424;
    position: relative;
    z-index: 80;
  }

  .hero__main {
    display: block;
    width: 100%;
    margin: 0 1rem -30rem 1rem;
  }

  .hero__msg {
    float: left;
    width: 72%;
    position: relative;
    z-index: 100;
    bottom: 30rem;
    padding-bottom: 2rem;
  }

  .hero__msg p {
    margin-top: 1rem;
    text-align: left;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
  }

  .hero {
    background: linear-gradient(90deg, transparent 60%, #242424 40%);
  }

  .hero__msg a {
    margin-right: auto;
  }

  .skills {
    border-bottom: none;
    margin-bottom: 3.75rem;
    text-align: left;
    column-gap: 0;
    row-gap: 3.25rem;
  }

  .skills .col {
    display: flex;
    flex-direction: column;
    gap: 0.87rem;
  }

  .skills,
  .projects {
    display: grid;
  }

  .project__section {
    margin-top: 3.75rem;
  }

  .skills span {
    color: var(--White, #fff);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: -0.09375rem;
  }

  .skills p {
    color: var(--Grey, #d9d9d9);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  #header {
    margin-right: 0rem;
  }

  #main {
    margin-top: 5rem;
  }

  .skills,
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  section h2 {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: -0.12781rem;
  }

  .contact {
    width: 60%;
    margin: 0 auto;
  }

  .project__img {
    height: 40vw;
  }
}

@media screen and (min-width: 601px) and (max-width: 699px) {
  .hero__msg h1 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: -0.12781rem;
    text-align: left;
  }
}

@media screen and (min-width: 818px) and (max-width: 900px) {
  .hero__msg p {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .hero__msg h1 {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: -0.12781rem;
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .hero__msg h1 {
    font-family: "Space Grotesk";
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem;
    letter-spacing: -0.15625rem;
    text-align: left;
  }

  .semi-circle {
    top: 23rem;
    right: 19rem;
  }

  .box {
    overflow-x: visible;
  }

  #main {
    margin-top: 4.06rem;
  }

  .hero--img {
    width: 40%;
  }

  .hero__msg {
    width: 73.5%;
    padding-bottom: 0;
  }

  .hero__msg p {
    margin-right: 16.31rem;
    margin-top: 1rem;
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  section h2 {
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem;
    letter-spacing: -0.15625rem;
  }

  .contact {
    display: flex;
    justify-content: space-between;
  }

  .contact .col {
    width: 40%;
  }

  .contact .btn {
    margin-left: auto;
    width: auto;
    border-bottom: none;
  }

  .contact h4,
  .contact p {
    text-align: left;
  }

  .project__img {
    height: 40vw;
    max-height: 25rem;
  }
}

@media screen and (min-width: 992px) {
  .hero__msg p {
    margin-right: 16.31rem;
    margin-top: 4rem;
  }

  .skills {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .project__links {
    display: none;
  }

  .project__links-hovered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    opacity: 0.75;
    background: #000;
    width: 100%;
    height: 100%;
  }

  .semi-circle {
    top: 23rem;
    right: 23rem;
  }
}
